.input-container2 {
    position: relative;
  }

  .input-container2 .input1 {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    /* text-align: center; */
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
  }
  

  .email-dialogform {
    padding: 1rem;
    width: 100%;
  }

  .DialogActions{
    width: 100%;
    padding:8px 15px 8px 0px
  }